    p{
    color: #18cb3c;
    }
    
    h1 {
    color: rgb(173, 38, 197)
    }

    h2{
    color:rgb(173, 38, 197)
    }
    
    main{
        background-color: #f5f5db;
    }

    .Courses{
        background-color: pink
    }

    .School{
        background-color: greenyellow
    }

    body{
        background-color: #f5f5db;
    }
    
